{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h1 class="my-4">{% translate 'Labels' %}<a class="btn btn-primary mx-4" href="{% url 'labels_create' %}">{% translate 'Create' %}</a></h1>
<table class="table">
    <thead class="table-light">
        <tr>
            <th>{% translate 'ID' %}</th>
            <th>{% translate 'Name' %}</th>
            <th>{% translate 'Created at' %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for label in labels %}
        <tr class="align-middle">
            <td>{{ label.id }}</td>
            <td>{{ label.name }}</td>
            <td>{{ label.created_at }}</td>
            <td>
                <a class="btn btn-link" href="{% url 'labels_update' label.id %}">{% translate 'edit' %}</a>
                <a class="btn btn-link" href="{% url 'labels_delete' label.id %}">{% translate 'delete' %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}