{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}
{% load django_bootstrap5 %}
{% block content %}
<h1>{% translate 'Registration' %}</h1>
<form method="post">
    <div class="card mb-3">
        <div class="card-body bg-light">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">{% translate 'register' %}</button>
            </form>
        </div>
    </div>
</form>
{% endblock %}