{% extends "base.html" %}
{% block title %}Менеджер задач Hexlet{% endblock %}
{% block content %}
<h1 class="my-4">Пользователи</h1>
<table class="table">
    <thead class="table-light">
        <tr>
            <th>ID</th>
            <th>Никнейм</th>
            <th>Полное имя</th>
            <th>Дата регистрации</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for user in users %}
        <tr class="align-middle">
            <td>{{ user.id }}</td>
            <td>{{ user.nickname }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.created_at }}</td>
            <td>
                <a class="btn btn-link" href="{% url 'users_update' 1 %}}">Изменить</a>
                <a class="btn btn-link" href="{% url 'users_delete' 1 %}}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}