{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate 'Task Manager — list of users' %}{% endblock %}
{% block content %}
<h1 class="my-4">{% translate 'Users' %}</h1>
<table class="table">
    <thead class="table-light">
        <tr>
            <th>{% translate 'ID' %}</th>
            <th>{% translate 'Username' %}</th>
            <th>{% translate 'Full name' %}</th>
            <th>{% translate 'Registration date' %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for user in users %}
        <tr class="align-middle">
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.date_joined }}</td>
            <td>
                <a class="btn btn-link" href="{% url 'users_update' user.id %}">{% translate 'edit' %}</a>
                <a class="btn btn-link" href="{% url 'users_delete' user.id %}">{% translate 'delete' %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}