<!DOCTYPE html>
<html lang="en">
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}
    <head>
        <title>{% block title %}{% translate 'Django on Hexlet' %}{% endblock %}</title>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <div class="col-md-3 mb-2 mb-md-0">
                    <a href="{% url 'index_view' %}" class="d-inline-flex link-body-emphasis text-decoration-none">{% translate 'Task Manager' %}</a>
                </div>
                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{% url 'users_index' %}" class="nav-link px-2">{% translate 'Users' %}</a></li>
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'statuses_index' %}" class="nav-link px-2">{% translate 'Statuses' %}</a></li>
                    <li><a href="{% url 'labels_index' %}" class="nav-link px-2">{% translate 'Labels' %}</a></li>
                    <li><a href="{% url 'tasks_index' %}" class="nav-link px-2">{% translate 'Tasks' %}</a></li>
                    {% endif %}
                </ul>
                {% if request.user.is_authenticated %}
                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li class="nav-link text-center px-2 text-dark"><a>{{ request.user.username }}</a></li>
                    <li class="nav-link px-2 text-dark"> | </li>
                    <li>
                        <form action="{% url 'logout' %}" method="POST">
                            {% csrf_token %}
                            <input class="btn btn-outline-primary me-2" type="submit" value="{% translate 'Logout' %}">
                        </form>
                    </li>
                </ul>
                {% else %}
                <div class="col-md-3 text-end">
                    <a href="{% url 'login_view' %}" class="btn btn-outline-primary me-2">{% translate 'Login' %}</a>
                    <a type="button" href="{% url 'users_create' %}" class="btn btn-primary">{% translate 'Registration' %}</a>
                </div>
                {% endif %}
            </header>
            {% bootstrap_messages %}
            {% block content %}
            {% endblock %}
        </div>
        <footer class="container">
            <br>
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-top">
                <a target="_blank" href="https://ru.hexlet.io">Hexlet</a>
            </div>
        </footer>
    </body>
</html>