<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Django на Хекслете{% endblock %}</title>
    </head>
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
    <body class="d-flex flex-column min-vh-100">
        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <div class="col-md-3 mb-2 mb-md-0">
                    <a href="{% url 'index_view' %}" class="d-inline-flex link-body-emphasis text-decoration-none">Менеджер задач</a>
                </div>
                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{% url 'users_index' %}" class="nav-link px-2 link-secondary">Пользователи</a></li>
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'statuses_index' %}" class="nav-link px-2">Статусы</a></li>
                    <li><a href="{% url 'labels_index' %}" class="nav-link px-2">Метки</a></li>
                    <li><a href="{% url 'tasks_index' %}" class="nav-link px-2">Задачи</a></li>
                    {% endif %}
                </ul>
                {% if request.user.is_authenticated %}
                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li class="nav-link text-center px-2 text-dark"><a>{{ user.username }}</a></li>
                    <li class="nav-link px-2 text-dark"> | </li>
                    <li><a type="button" href="{% url 'logout' %}" class="btn btn-outline-primary me-2">Выйти</a></li>
                </ul>
                {% else %}
                <div class="col-md-3 text-end">
                    <a type="button" href="{% url 'login_view' %}" class="btn btn-outline-primary me-2">Войти</a>
                    <a type="button" href="{% url 'users_create' %}" class="btn btn-primary">Регистрация</a>
                </div>
                {% endif %}
            </header>
            {% block content %}
            {% endblock %}
        </div>
        <footer class="container">
            <br>
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-top">
                <a target="_blank" href="https://ru.hexlet.io">Hexlet</a>
            </div>
        </footer>
    </body>
</html>