{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% load i18n %}
<div class="card">
    <div class="card-body p-5 bg-light">
        <div class="display-4">{% translate 'Task Manager' %}</div>
        <p class="lead">{% translate 'Simple and flexible task management web application' %}</p>
        <hr>
        {% if request.user.is_authenticated %}
        <a class="btn btn-primary btn-lg" href="{% url 'tasks_index' %}">{% translate 'Get Started' %}</a>
        {% else %}
        <a class="btn btn-primary btn-lg" href="{% url 'login_view' %}">{% translate 'Get Started' %}</a>
        {% endif %}
    </div>
</div>
{% endblock %}