{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h1 class="my-4">{{ body.title }}</h1>
<form method="post">
    <div class="card mb-3">
        <div class="card-body bg-light">
            <form method="post">
                {% csrf_token %}
<!--                {{ form.as_p }}-->
                {% bootstrap_form form %}
                <button class="btn btn-primary" type="submit">{{ body.button_value }}</button>
            </form>
        </div>
    </div>
</form>
{% endblock %}