{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
<h1 class="my-4">{% translate 'Tasks' %}<a class="btn btn-primary mx-4" href="{% url 'tasks_create' %}">{% translate 'Create a task' %}</a></h1>
<div class="card mb-3">
    <div class="card-body bg-light">
        <form class="form-inline center mb-3" action="{% url 'tasks_index' %}">
            {{ filter.form.as_p }}
            <input class="btn btn-primary" type="submit" value="{% translate 'filter' %}">
        </form>
    </div>
</div>

<table class="table">
    <thead class="table-light">
        <tr>
            <th>{% translate 'ID' %}</th>
            <th>{% translate 'Name' %}</th>
            <th>{% translate 'Status' %}</th>
            <th>{% translate 'Author' %}</th>
            <th>{% translate 'Executor' %}</th>
            <th>{% translate 'Created at' %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for task in tasks %}
        <tr class="align-middle">
            <td>{{ task.id }}</td>
            <td><a href="{% url 'tasks_read' task.id %}">{{ task.name }}</a></td>
            <td>{{ task.status.name }}</td>
            <td>{{ task.author.username }}</td>
            <td>{{ task.executor.username }}</td>
            <td>{{ task.created_at }}</td>
            <td>
                <a class="btn btn-link" href="{% url 'tasks_update' task.id %}">{% translate 'edit' %}</a>
                <a class="btn btn-link" href="{% url 'tasks_delete' task.id %}">{% translate 'delete' %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
